{
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js"],
        "map": [["~", "./src"]]
      }
    }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "jsx-quotes": ["error", "prefer-single"],
    "no-unused-vars": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [["builtin", "external"], "internal", "parent", "sibling"],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "parent"
          }
        ]
      }
    ]
  }
}
